<link rel="stylesheet" type="text/css" href="/css/admin_header.css">
<div class="Header">
    <h1 class="heading" > Hello Admin </h1>
    <a href="/admin/sign-out"><button class="buttonClass"> Sign out </button></a>   
</div>