<link rel="stylesheet" type="text/css" href="/css/sign_in.css">
<div style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: rgb(10, 94, 94) ;
        margin-bottom: 10px;">

    <div style="
        font-size: 35px;
        color: beige;
        margin-left: 10px;">
        Hello Admin</div>

</div>
<div class="outerBox">
    <h1 style="color: rgb(10, 94, 94);">Sign In</h1>

    <form action="/admin/create-session" method="post">
        <div class="signinBox" style="height: 150px;">
            <input style="margin-top: 10px; margin-bottom: 10px; width: 200px" type="email" name="email"
                placeholder="Email" required>
            <input style="margin-bottom: 10px; width: 200px" type="password" name="password" placeholder="Password"
                required>
            <input class="inputBox" style="margin-bottom: 12px;" type="submit" value="Sign In">
        </div>
    </form>
</div>