<link rel="stylesheet" type="text/css" href="/css/admin_profile.css">
<div class="Header">
    <div class="heading"> Hello Admin </div>
    <a href="/admin/sign-out"><button class="buttonClass"> Sign out </button></a>

</div>
<div class="mainDiv">
    <p class="para">
        What would you like to do today?
    </p>
    <div class="buttonDiv">
        <a href="/admin/modify-product-category">
            <button class="buttonClass">Modify Product Category</button>
        </a>
        
        <button class="buttonClass">Modify Product</button>
    </div>
</div>