<link rel="stylesheet" type="text/css" href="/css/admin_profile.css">
<div class="mainDiv">
    <p class="para">
        What would you like to do today?
    </p>
    <div class="buttonDiv">
        <button class="buttonClass">Modify Product Category</button>
        <button class="buttonClass">Modify Product</button>
    </div>
</div>