<link rel="stylesheet" type="text/css" href="/css/customer_profile.css">

<div class="outerDiv">
    <div class="maindiv">
        <div class="boxInBody">Account Settings</div>
        <div class="boxInBody">Your Orders</div>
        <div class="boxInBody">Membership Plan</div>
        <div class="boxInBody">Password & Security</div>
        <a href="/customers/sign-out"><button style="background-color: #343A40;
            color: antiquewhite;
            border: 3px solid antiquewhite;
            border-radius: 10px;">Sign Out</button></a>
    </div>
    <div>
        <div class="ProfileImageBox">
            <img src="/images/blank-profile-picture-973460_1280.webp" class="pfpm"> Upload a New Photo
            <button class="Update_button" style="margin-left: 100px">Update</button>
        </div>
        <div class="ProfileDescBox">
            <div class="Infoheaders">
                <h4 style="margin-bottom: 15px;">Change User Information here</h4>
                Full Name*<br>
                <input class="InputButtons" type="text" placeholder="abc"><br>
                Email Address*<br>
                <input class="InputButtons" type="email" placeholder="abc@example.com"><br>
                Address*<br>
                <input class="InputButtons" type="text" placeholder="XYZ"><br>
                City*<br>
                <input class="InputButtons" type="text" placeholder="Delhi"><br>
                Zip Code*<br>
                <input class="InputButtons" type="number" placeholder="123456"><br>
                Country<br>
                <input class="InputButtons" type="text" placeholder="India"><br>
            </div><br>
            <button class="Update_button" style="width: 150px;">Update</button>
        </div>
    </div>
</div>