<link rel="stylesheet" type="text/css" href="/css/customer_sign_in.css">
<h1>Sign In</h1>

<form action="/users/create-session" method="post">
    <div class="signinBox">
        <input class="inputBox" type="email" name="email" placeholder="Email" required>
        <input class="inputBox" type="password" name="password" placeholder="Password" required>
        <input class="inputBox" type="submit" value="Sign In">
    </div>
</form>