<link rel="stylesheet" type="text/css" href="/css/header.css">

<div id="header" class="bg-dark">
    <a href="/" id="homeLink">
        <div id="NexusMartLogo">
            <h3 style="color:antiquewhite">NexusMart</h3>
        </div>
    </a>


    <div class="searchSection" style="margin-right:0px;">
        <input class="SearchBar" type="text" placeholder="Search">
        <button class="SearchButton"><img class="magnImage" src="/images/search.svg"></button>
    </div>


    <div class="rightSection">
        <% if(locals.user){ %>
        <a href="/customers/shopping-cart/<%= user.id %>" class="shoppingcart">
            <img src="/images/scart.png" alt="" class="imgsize">
        </a>
        <% }else{ %>
            <a href="/customers/sign-in" class="shoppingcart">
                <img src="/images/scart.png" alt="" class="imgsize">
            </a>
            <% } %>

        <div class="profile_image">
            <% if(locals.user){ %>
                <a href="/customers/profile/<%= user.id %>">
                    <img src="/images/blank-profile-picture-973460_1280.webp" class="pfp">
                </a>
                <% }else{ %>
                    <a href="/customers/sign-in">
                        <img src="/images/blank-profile-picture-973460_1280.webp" class="pfp">
                    </a>
                    <% } %>
        </div>
    </div>

</div>