<link rel="stylesheet" type="text/css" href="/css/header.css">

<div id="header">
    <a href="/" id="homeLink">
        <div id="NexusMartLogo">
            <h3 style="color:antiquewhite">NexusMart</h3>
        </div>
    </a>
    

    <div class="searchSection" style="margin-right:0px;">
        <input class="SearchBar" type="text" placeholder="Search">
        <button class="SearchButton"><img class="magnImage" src="images/search.svg"></button>
    </div>


    <div class="rightSection">

        <div class="shoppingcart">
            scart
        </div>
        <div class="profile_image">
            <a href="/customers/profile">
                <img src="/images/blank-profile-picture-973460_1280.webp"  class="pfp">
            </a>
            
        </div>
    </div>

</div>