<link rel="stylesheet" href="/css/home.css">

<div class="category1">

  <div>
    <img src="images/electronic.jpg" class="electronicImage">
  </div>

  <div class="description1">
    <p style=" display:flex; align-items: center; margin-left:40px; color: antiquewhite;">
      <strong>Electronics and Gadgets</strong>
    </p>
  </div>

</div>