<link rel="stylesheet" href="/css/home.css">

<div id="header">

  <div id="NexusMartLogo">
    <h3 style="color:antiquewhite">NexusMart</h3>
  </div>

  <div class="searchSection">
    <input class="SearchBar" type="text" placeholder="Search">
    <button class="SearchButton"><img class="magnImage" src="images/search.svg"></button>
  </div>

  <div class="rightSection">
    &#128722;
    <img class="menuImage" src="images/hamburger-menu.svg">
  </div>

</div>

<div class="category1">

  <div>
    <img src="images/electronic.jpg" class="electronicImage">
  </div>

  <div class="description1">
    <p style=" display:flex; align-items: center; margin-left:40px; color: antiquewhite;">
      <strong>Electronics and Gadgets</strong>
    </p>
  </div>

</div>