body {
    .mainDiv {
        display: flex;
        flex-direction: column;
        align-items: center;

        .para {
            flex: 1;
            font-size: 25px;
        }


        .buttonDiv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .buttonClass {
                border-radius: 5px;
                margin-bottom: 10px;
                width: 300px;
                background-color: rgb(10, 94, 94);
                color: beige;
                border: 2px;
                transition: opacity 0.15s,
                    box-shadow 0.25s;

                &:hover {
                    opacity: 0.8;
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
                }

                &:active {
                    opacity: 0.5;
                }
            }


        }

    }

}