body {
    .Header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        background-color: rgb(10, 94, 94);
        margin-bottom: 10px;

        #homelink {
            .heading {
                color: beige;
                font-size: 35px;
                margin-left: 10px;
            }

            &:hover {
                text-decoration: none;
            }

        }

        .buttonClass {
            border-radius: 5px;
            margin-right: 10px;
            width: 90px;
            background-color: beige;
            color: rgb(10, 94, 94);
            border: 2px;
            transition: opacity 0.15s, box-shadow 0.25s;

            &:hover {
                opacity: 0.8;
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
            }

            &:active {
                opacity: 0.5;
            }
        }

    }

    .mainDiv {
        display: flex;
        flex-direction: column;
        align-items: center;

        // Table css
        .imgsize {
            width: 100px;
        }

        .cross {
            display: inline-block;
            cursor: pointer;
        }
    }


    .para {
        flex: 1;
        font-size: 25px;
    }


    .buttonDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .buttonClass {
            border-radius: 5px;
            margin-bottom: 10px;
            width: 300px;
            background-color: rgb(10, 94, 94);
            color: beige;
            border: 2px;
            transition: opacity 0.15s,
                box-shadow 0.25s;

            &:hover {
                opacity: 0.8;
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
            }

            &:active {
                opacity: 0.5;
            }
        }


    }

}
