body {
    background-color: #EEFBFF;
    .outerBox {
        display: flex;
        flex-direction: column;
        align-items: center;

            .signinBox {
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 250px;
                height: 210px;
                background-color: #343A40;
                color: black;
                border-radius: 5px;

                .inputBox { 
                    background-color: beige;
                    margin-bottom: 15px;
                    width: 200px;
                    &:hover{
                        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
                        cursor: pointer;
                    }
                }
            }
            .Sign_up{
    
                width: 200px;
                background-color: beige;
                &:hover{
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
                    cursor: pointer;
                }
            }

        }


}