body .Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #0a5e5e;
  margin-bottom: 10px; }
  body .Header #homelink .heading {
    color: beige;
    font-size: 35px;
    margin-left: 10px; }
  body .Header #homelink:hover {
    text-decoration: none; }
  body .Header .buttonClass {
    border-radius: 5px;
    margin-right: 10px;
    width: 90px;
    background-color: beige;
    color: #0a5e5e;
    border: 2px;
    transition: opacity 0.15s, box-shadow 0.25s; }
    body .Header .buttonClass:hover {
      opacity: 0.8;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); }
    body .Header .buttonClass:active {
      opacity: 0.5; }

body .mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center; }
  body .mainDiv .imgsize {
    width: 100px; }
  body .mainDiv .cross {
    display: inline-block;
    cursor: pointer; }

body .para {
  flex: 1;
  font-size: 25px; }

body .buttonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  body .buttonDiv .buttonClass {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
    background-color: #0a5e5e;
    color: beige;
    border: 2px;
    transition: opacity 0.15s, box-shadow 0.25s; }
    body .buttonDiv .buttonClass:hover {
      opacity: 0.8;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); }
    body .buttonDiv .buttonClass:active {
      opacity: 0.5; }
