body {
  height: 1000px;
  padding-top: 60px; }
  body #header {
    height: 50px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    top: 0;
    bottom: 50;
    left: 0;
    right: 0; }
  body #homeLink:hover {
    text-decoration: none; }
  body #NexusMartLogo {
    margin-top: 5px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    width: 150px;
    margin-right: 10px; }
  body .searchSection {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 500px;
    margin-right: 0px; }
  body .SearchBar {
    flex: 1;
    margin-right: 1px;
    padding-left: 10px;
    border-color: antiquewhite;
    border-style: solid;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1); }
  body .SearchBar::placeholder {
    font-size: 15px; }
  body .magnImage {
    width: 22px; }
  body .SearchButton {
    border: none;
    height: 29px;
    border-radius: 2px;
    color: #22225b;
    font-weight: 400;
    background-color: antiquewhite;
    transition: opacity 0.15s, box-shadow 0.25s; }
    body .SearchButton:hover {
      opacity: 0.8;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); }
    body .SearchButton:active {
      opacity: 0.5; }
  body .rightSection {
    margin-left: 5px;
    display: flex;
    align-items: center; }
    body .rightSection .shoppingcart {
      height: 100%;
      display: flex;
      margin-left: 0px;
      align-items: center;
      justify-content: center;
      width: 50px;
      margin: 0%;
      margin-right: 10px; }
      body .rightSection .shoppingcart:hover {
        text-decoration: none; }
      body .rightSection .shoppingcart .imgsize {
        width: 30px; }
    body .rightSection .profile_image {
      height: 100%;
      display: flex;
      margin-left: 0px;
      align-items: center;
      justify-content: center;
      width: 50px;
      margin-right: 10px;
      padding: 0;
      color: aliceblue; }
      body .rightSection .profile_image .pfp {
        height: 30px;
        border-radius: 33px;
        justify-content: center; }
