body {
  height: 1000px;
  padding-top: 60px; }
  body .mainCategorybox1 {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    margin-left: 20px; }
    body .mainCategorybox1 .category1 {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 250px;
      border-radius: 5px;
      background-color: #3a695a;
      margin: 20px; }
      body .mainCategorybox1 .category1:hover {
        cursor: pointer; }
    body .mainCategorybox1 .imageCat1 {
      margin-top: 0px;
      width: 100%;
      height: 200px;
      display: flex;
      flex: 1;
      border-radius: 5px; }
    body .mainCategorybox1 .description1 {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: #3a695a; }
    body .mainCategorybox1 .gridmain {
      margin: 20px;
      background-color: #3a695a;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
      height: 280px;
      border-radius: 10px; }
      body .mainCategorybox1 .gridmain .imageGrid {
        width: 100px; }
      body .mainCategorybox1 .gridmain .block1 {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        body .mainCategorybox1 .gridmain .block1 .block2 {
          display: flex;
          flex-direction: column;
          width: 100px;
          margin: 3px;
          align-items: center; }
